# Server configuration
SERVER_PORT=8080
SERVER_ENVIRONMENT=development

# Database configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=base_code_go_gin_clean
DB_SSLMODE=disable

# Redis configuration
REDIS_ADDR=redis:6379
REDIS_PASSWORD=

# Optional: Uptrace configuration for distributed tracing
# UPTRACE_DSN=""
# UPTRACE_SERVICE_NAME=""
# UPTRACE_SERVICE_VERSION="1.0.0"
